{% extends 'basic.html' %}

{% block title %}
    <title>Index Page</title>
{% endblock %}

{% block content %}
    <h1>Navigation Page!</h1>
    <h2>Choose your path and explore:</h2>
    <form action="#" method="post">
        {% if role == 0 %}
            <p><input class = "form-submit" type="submit" value="Create Event" name="Organisation"/></p>
        {% endif %}
        {% if role == 1 %}
            <p><input class = "form-submit" type="submit" value="Donate" name="Donator"/></p>
        {% endif %}
        <p><input class = "form-submit" type="submit" value="Transactions" name="Transactions"/></p>
        <p><input class = "form-submit" type="submit" value="Logout" name="Logout"/></p>
    </form>
{% endblock %}